*{
    margin: 0px;
    padding: 0px;
}
.sayt{
    width: 1200px;
    height: 600px;
    border: 5px solid black;
    margin: auto;
}
.navbar{
    height: 80px;

}
.navbar ul{
    list-style: none;
    height: 100%;
}
.navbar ul li{
    float: left;
    width: 20%;
    height: 100%;
}
.navbar ul li a{
    display: block;
    height: 100%;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    font-size: 25px;
    color: orange;
    background-color: black;
    font-family: cursive;
    font-weight: 800;
    border: right;
    transition: all 0.75s;
}
.navbar ul li a:hover{
    background-color: orange;
    color: black;
}
.navbar2{
 height: 80px;
}
.navbar2 ul{
    list-style: none;
    height: 100%;
    width: 50%;
}
.navbar2 ul li{
    float: left;
    width: 25%;
    height: 100%;
}
.navbar2 ul li a{   
display:block;
height: 100%;
text-align: center;
line-height: 80px;
text-decoration: none;
font-size: 15px;
color: white;
background-color:rgb(14, 99, 168);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-right: 2px solid rgb(207, 140, 14);
font-weight: 500;
transition: all 0.75s;
}
.navbar2 ul li a:hover{
background-color: aqua;
color: blue;
}